body {
  -webkit-font-smoothing: antialiased;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  letter-spacing: 0.43px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 960px;
  padding-bottom: 4rem;
  margin: auto;
}

.main-header {
  background: #ffff;
}

.logo-container {
  display: block;
  padding: 0 0.95rem 0.55rem;
}

.logo-container img {
  object-fit: contain;
}

.main-header .orange-strip {
  height: 50px;
  width: 100%;
  background: #f27b1a;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}

.column-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}

.column-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
}

.column-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74%;
  flex: 0 0 74%;
  max-width: 74%;
}

.column-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.column-3,
.column-9 {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-heading-container {
  margin-top: 1.75rem;
  margin-bottom: 1.375rem;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../../images/line.png") 13px 14px no-repeat;
  width: 96%;
  margin: 2rem auto 5.6rem auto;
  background-size: contain;
}

.nav-2 {
  background: url("../../images/line2.png") 13px 14px no-repeat;
  background-size: contain;
}

.nav-3 {
  background: url("../../images/line3.png") 13px 14px no-repeat;
  background-size: contain;
}

.nav .nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-item .nav-item-sub {
  border-radius: 50%;
  background: #fff;
  border: 1px solid #c4c4c4;
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-item .nav-item-sub .nav-link {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #c4c4c4;
}

.nav .nav-item .nav-link span {
  position: absolute;
  top: 2rem;
  left: -3.5rem;
  color: #c4c4c4;
  font-size: 14px;
  line-height: 19px;
  width: 8rem;
  text-align: center;
}

.nav .nav-item .active {
  background: #d4e3ee;
  border: none;
}

.nav .nav-item .nav-item-sub .active {
  background: #3c8ec9;
}

.nav .nav-item .nav-item-sub .nav-link.done {
  background: url("../../images/tick.png");
  background-repeat: no-repeat;
  background-position: center;
}

.nav .nav-item .active span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #414141;
}

.font-18 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #414141;
}

.font-16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.font-14 {
  font-size: 14px;
  line-height: 21px;
}

.font-12 {
  font-size: 12px;
  line-height: 19px;
}

.font-10 {
  font-size: 10px;
  line-height: 11px;
  text-decoration-line: underline;

  color: #c4c4c4;
}
.mt-5
{
  margin-top: 4px;
}
.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.m-20 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.light-blue {
  color: #3c8ec9;
}

.blue {
  color: #004a7f;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
.gray {
  color: #414141;
}
.bold {
  font-weight: bold;
}

.col-side {
  width: 70px;
  position: relative;
}

.line-vertical {
  position: absolute;
  left: 50%;
  top: -21px;
}

.col-main {
  width: calc(100% - 100px);
}

.accordian-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  background: #fff;
  outline: none;
}

.accordian-btn img {
  transition: all 0.5s ease;
}

.col-main.active .accordian-btn img {
  transform: rotate(-180deg);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align {
  align-items: center;
}

.page-content {
  background: #fff;
}

.page-content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.page-content-sub {
  display: flex;
  padding: 22px 0;
  border: 0.5px solid #cfd7ed;
  box-shadow: 0px 2px 8px rgba(222, 227, 242, 0.4);
  border-radius: 10px;
  margin-bottom: 25px;
}

.num {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  color: #3c8ec9;
  background: #d4e3ee;
  margin: 0 auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  position: relative;
}

.num.active {
  color: #fff;
  background: #3c8ec9;
}

label {
  display: inline-block;
}

.label-text {
  color: #414141;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.input-content select,
.input-content input,
textarea {
  width: 100%;
  line-height: 0.875rem;
  letter-spacing: 0.43px;
  font-size: 12px;
  font-weight: normal;
  outline: none;
  border: 1px solid #6e8ca6;
  border-radius: 7px;
  padding: 11px 1.375rem 11px 9px;
}

select:focus,
input:focus {
  border: 1px solid #f27b1a;
}

.select {
  -webkit-appearance: none;
  background-image: url(../../images/dropdown.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 11px;
}

button {
  cursor: pointer;
}

.save-btn {
  min-width: 135px;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  background: #c4c4c4;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  margin-right: 2rem;
  pointer-events: none;
}
.save-btn.active {
  pointer-events: all;
  background: #f27b1a;
  color: #fff;
}
.next {
  pointer-events: all;
  background: #f27b1a;
  color: #fff;
}

.save-btn:focus {
  outline: none;
}

.cancel-btn {
  background: none;
  border: none;
  padding: 0.8rem 0;

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #f27b1a;
  text-transform: uppercase;
}

.link {
  color: #004a7f;
  font-weight: bold;
}

.initiate {
  overflow: hidden;
  max-height: 1500px;
  transition: max-height 0.5s ease;
  transform-origin: top;
}

.col-main.active .initiate {
  max-height: 0;
  transition: max-height 0.5s ease;
  margin-bottom: 0;
}

#jointAcc {
  margin-bottom: 15px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in;
}

.documents {
  padding-top: 10px;
}

.accordion {
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  background: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  color: #414141;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  outline: none;
  padding-bottom: 20px;
}

.panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel p {
  font-size: 12px;
  line-height: 13px;
  color: #414141;
}

.panel ul {
  color: #4a4c4c;
  font-size: 12px;
}

.panel li {
  padding: 0;
  color: #4a4c4c;
  font-size: 12px;
}

.panel .types {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}

.panel .types .doc_type {
  width: 33.3%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}

.panel .types .doc_type p {
  margin-right: 1rem;
  line-height: 16px;
}

.panel .types .doc_type .sub_text {
  display: block;
  font-size: 12px;
}

.panel .types .doc_type img {
  margin-right: 0.4rem;
}

.edit {
  position: absolute;
  right: 50px;
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #414141;
  cursor: pointer;
}

.edit.active {
  display: block;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  visibility: visible;
  top: 50%;
  opacity: 1;
  transition: 0.5s;
}

.popup-heading {
  text-align: center;
  padding-top: 1.5rem;
}

.popup-heading h3 {
  margin-bottom: 1.5rem;
}

.popup-content {
  margin: 0 90px;
}

.grid-card-details {
  display: flex;
  margin-top: 10px;
  margin-bottom: 23px;
}

.img-desc {
  margin-left: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.labels {
  display: flex;
}

.labels > div {
  margin-right: 20px;
}

.labels label {
  display: block;
  text-align: center;
}

.labels input {
  width: 20px;
  padding: 0.5rem 1rem;
  outline: none;

  background: #ffffff;
  border: 1px solid #6e8ca6;
  border-radius: 7px;
}

.otp-input {
  background: #ffffff;
  border: 1px solid #6e8ca6;
  border-radius: 7px;
  width: 180px;
  height: 28px;
  padding-left: 10px;
}

.otp-info {
  transform: translate(209px, -24px);
}

.popup-submit-button {
  display: inline-block;
  text-decoration: none;
  min-width: 150px;
  text-align: center;
  padding: 0.8rem 0;
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  margin-top: 2rem;
  font-size: 12px;
  color: white;
  font-family: Helvetica;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5rem;
  outline: none;
  pointer-events: none;
}

.popup-submit-button.active {
  pointer-events: all;
  background: #f27b1a;
  border: 1px solid #f27b1a;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.orange {
  color: #f27b1a;
  display: inline-block;
}

.background-blur {
  filter: blur(6px);
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.grey {
  color: #c4c4c4;
  border: none;
  background-color: white;
  border-bottom: 1px solid;
  outline: none;
}

.timer {
  transform: translate(34px, -19px);
}

.hide {
  display: none;
}

/* .input-content.date {
  position: relative;
}

.input-content.date:after,
.input-content.date:before {
  content: "";
  position: absolute;
  right: 4%;
  top: 30%;
}

.input-content.date:after {
  background: #ebebeb;
  border-radius: 3.2px;
  width: 1rem;
  height: 0.875rem;
}
.input-content.date:before {
  z-index: 10;
  border-radius: 3.2px 3.2px 0 0;
  height: 0.3rem;
  background: #004981;
  width: 1rem;
} */

.label-radio
{
    color: #414141;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-right: 66px;
}



.iconpos
{
  transform: translate(0px, 3px);
}

.radio-inp{
  display: flex;
}

.browse {
  border-radius: 0 7px 7px 0;
  width: 44%;
  background: #fff;
  border: 1px solid #F27B1A;
  outline: none;
  color: #F27B1A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.browse img {
  margin-right: 4px;
}
.info {
  margin-left: 5px;
}

.radio-flex {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.radio-content {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
}
.radio-content:first-child {
  margin-right: 3rem;
}
.radio-content input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 5px;
}

.radio-content input:checked ~ .checkmark:after {
  display: block;
}
.radio-content input[type="radio"] + label {
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin-left: 2rem;
  letter-spacing: 0.43px;
}
.radio-content .checkmark {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  height: 17.5px;
  width: 17.5px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.07),
    inset 1px 0px 1px 0px rgba(0, 0, 0, 0.07);
  border: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-content .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #F27B1A;
}
.radio-inp,
.radio-inp1 {
  margin-top: 10px;
  display: flex;
}

.radio-inp input {
  border-radius: 7px 0 0 7px;
  width: 65%;
  border-right: none;
}

.radio-txt {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #414141;
}

/* popup css */

.form60-container
{
  
  width: 770px;
  height: 389px;
  background: #FFFFFF;
  border: 0.5px solid #CFD7ED;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 42px;

}

.form60-heading
{
  text-align: center;
  margin-top: 2.5rem;
}

.form60-content
{
  text-align: center;
    height: 60px;
    background: #F7F7F7;
    padding: 20px;
}

.form60-shield
{
    float: left;
    transform: translate(190px, -3px);
}

.form60-box-container
{
  height: 191px;
  width: 636px;
  display: flex;
  margin: 12px 41px;
}

.form60-leftbox
{
  width: 44%;
  border: 3px dashed #8a929b;
  border-radius: 5px;
  padding: 15px 52px 17px;
  text-align: center;
}

.form60-rightbox
{
  width: 57%;
  display: flex;
  flex-direction: column;
  padding-left: 29px;
  padding-top: 18px;
  
}

.upload-btn
{
    padding: 4px 12px;
    background: #F27B1A;
    border: none;
    border-radius: 6.55492e+08px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
}

.form60-documents
{
  display:flex;
  margin: 12px 0px 35px;
  align-items: center;
  visibility: hidden;
}

.btn-delete
{
    width: 87px;
    height: 22px;
    border-radius: 25px;
    background-color: white;
    outline: none;
    border: 2px solid #F27B1A;
    color: #F27B1A;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    margin-left: 39px;
    
}

.btn-continue
{
    width: 225px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 7px;
}
.mt-5
{
  margin-top:5px;
}
.ml-5
{
  margin-left: 5px;
}

.ml-80
{
 margin-left:3.5vw;
}

input[type="file"]
 {
  display: none;
}

#circlebar {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}


 .progressbar-text 
 {  position: absolute;
    left: unset !important;
    top: unset !important;
    margin-left: 2.5vw !important;
    margin-top: -9px !important;
    transform: translate(-50%, -50%);
    color: rgb(122 120 120) !important ;
    font-size: 0.7rem !important;
    font-weight: 600;
 }
 
 .placehere
 {
   display: none;
 }

 .greentick
 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-right: 7px;
    background-color: #fcf8f8;
    display: none;
 }

 .previewlink
 {
   display:none;
 }

 .image-preview
 {
   display: none;
 }